# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Metadata file created by OS X
.DS_Store

# Secret auth cert for GCS
census-1949da3b6a29.json
