<!DOCTYPE html>
<meta charset="utf-8">
<title>Census: track indoor space usage</title>

<h1>Floor {{.Floor}}: tap a blue box.</h1>
<p><a href="/?floor={{if eq .Floor "2"}}1{{else}}2{{end}}">Switch floor</a>

<img src="static/{{.Floor}}.png" usemap="#floor{{.Floor}}">
<map name="floor{{.Floor}}">
{{if eq .Floor "1"}}
	<area target="" alt="" title="" href="/?area=L1" coords="450,312,81,95" shape="rect">
	<area target="" alt="" title="" href="/?area=L2" coords="315,349,993,504" shape="rect">
	<area target="" alt="" title="" href="/?area=L3" coords="1213,101,1398,294" shape="rect">
	<area target="" alt="" title="" href="/?area=L4" coords="1550,57,1867,247" shape="rect">
	<area target="" alt="" title="" href="/?area=L5" coords="882,1098,1525,1261" shape="rect">
	<area target="" alt="" title="" href="/?area=L6" coords="1029,400,1433,512" shape="rect">
	<area target="" alt="" title="" href="/?area=L7" coords="885,125,1053,291" shape="rect">
	<area target="" alt="" title="" href="/?area=L8" coords="828,692,1390,782" shape="rect">
	<area target="" alt="" title="" href="/?area=L9" coords="494,549,632,728" shape="rect">
	<area target="" alt="" title="" href="/?area=L10" coords="589,134,705,294" shape="rect">
	<area target="" alt="" title="" href="/?area=L11" coords="904,597,1444,657" shape="rect">
	<area target="" alt="" title="" href="/?area=L12" coords="369,580,464,745" shape="rect">
	<area target="" alt="" title="" href="/?area=L13" coords="477,186,567,297" shape="rect">
	<area target="" alt="" title="" href="/?area=L14" coords="1067,177,1164,294" shape="rect">
	<area target="" alt="" title="" href="/?area=L15" coords="1422,82,1496,231" shape="rect">
	<area target="" alt="" title="" href="/?area=L16" coords="1501,358,1593,456" shape="rect">
	<area target="" alt="" title="" href="/?area=L17" coords="1422,268,1612,331" shape="rect">
	<area target="" alt="" title="" href="/?area=L18" coords="1786,389,1873,500" shape="rect">
	<area target="" alt="" title="" href="/?area=L19" coords="1075,85,1189,156" shape="rect">
	<area target="" alt="" title="" href="/?area=L20" coords="67,344,206,393" shape="rect">
	<area target="" alt="" title="" href="/?area=L21" coords="244,375,298,540" shape="rect">
	<area target="" alt="" title="" href="/?area=L22" coords="464,75,540,159" shape="rect">
	<area target="" alt="" title="" href="/?area=L23" coords="27,83,62,257" shape="rect">
	<area target="" alt="" title="" href="/?area=L24" coords="1498,474,1607,531" shape="rect">
	<area target="" alt="" title="" href="/?area=L25" coords="1683,253,1762,318" shape="rect">
	<area target="" alt="" title="" href="/?area=L26" coords="1506,612,1563,710" shape="rect">
	<area target="" alt="" title="" href="/?area=L27" coords="820,129,860,235" shape="rect">
	<area target="" alt="" title="" href="/?area=L28" coords="727,148,768,248" shape="rect">
	<area target="" alt="" title="" href="/?area=L29" coords="1018,327,1080,379" shape="rect">
	<area target="" alt="" title="" href="/?area=L30" coords="1216,328,1273,382" shape="rect">
	<area target="" alt="" title="" href="/?area=L31" coords="673,524,779,565" shape="rect">
	<area target="" alt="" title="" href="/?area=L32" coords="836,586,882,646" shape="rect">
	<area target="" alt="" title="" href="/?area=L33" coords="912,82,942,109" shape="rect">
	<area target="" alt="" title="" href="/?area=L34" coords="426,542,464,569" shape="rect">
	<area target="" alt="" title="" href="/?area=L35" coords="534,740,594,767" shape="rect">
{{else if eq .Floor "2"}}
	<area target="" alt="" title="" href="/?area=U1" coords="1094,120,1809,300" shape="rect">
	<area target="" alt="" title="" href="/?area=U2" coords="1923,133,2205,297" shape="rect">
	<area target="" alt="" title="" href="/?area=U3" coords="2491,76,2660,291" shape="rect">
	<area target="" alt="" title="" href="/?area=U4" coords="1464,435,2630,527" shape="rect">
	<area target="" alt="" title="" href="/?area=U5" coords="302,843,521,970" shape="rect">
	<area target="" alt="" title="" href="/?area=U6" coords="315,1009,584,1126" shape="rect">
	<area target="" alt="" title="" href="/?area=U7" coords="774,1017,1014,1135" shape="rect">
	<area target="" alt="" title="" href="/?area=U8" coords="1713,857,1864,1138" shape="rect">
	<area target="" alt="" title="" href="/?area=U9" coords="273,1228,601,1388" shape="rect">
	<area target="" alt="" title="" href="/?area=U10" coords="2112,1465,2298,1633" shape="rect">
	<area target="" alt="" title="" href="/?area=U11" coords="2727,1495,2879,1827" shape="rect">
	<area target="" alt="" title="" href="/?area=U12" coords="1666,1773,2390,1849" shape="rect">
	<area target="" alt="" title="" href="/?area=U13" coords="2437,1674,2634,1922" shape="rect">
	<area target="" alt="" title="" href="/?area=U14" coords="2740,88,2689,34" shape="rect">
{{end}}
</map>
