<!DOCTYPE html>
<meta charset="utf-8">
<title>Census: track indoor space usage</title>

<h1>Floor {{.Floor}}: tap a blue box.</h1>
<p><a href="/?floor={{if eq .Floor "2"}}1{{else}}2{{end}}">Switch floor</a>

<img src="static/{{.Floor}}.png" usemap="#floor{{.Floor}}">
<map name="floor{{.Floor}}">
{{if eq .Floor "1"}}
	<area href="/?area=L1" coords="450,312,81,95" shape="rect">
	<area href="/?area=L2" coords="315,349,993,504" shape="rect">
	<area href="/?area=L3" coords="1213,101,1398,294" shape="rect">
	<area href="/?area=L4" coords="1550,57,1867,247" shape="rect">
	<area href="/?area=L5" coords="882,1098,1525,1261" shape="rect">
	<area href="/?area=L6" coords="1029,400,1433,512" shape="rect">
	<area href="/?area=L7" coords="885,125,1053,291" shape="rect">
	<area href="/?area=L8" coords="828,692,1390,782" shape="rect">
	<area href="/?area=L9" coords="494,549,632,728" shape="rect">
	<area href="/?area=L10" coords="589,134,705,294" shape="rect">
	<area href="/?area=L11" coords="904,597,1444,657" shape="rect">
	<area href="/?area=L12" coords="369,580,464,745" shape="rect">
	<area href="/?area=L13" coords="477,186,567,297" shape="rect">
	<area href="/?area=L14" coords="1067,177,1164,294" shape="rect">
	<area href="/?area=L15" coords="1422,82,1496,231" shape="rect">
	<area href="/?area=L16" coords="1501,358,1593,456" shape="rect">
	<area href="/?area=L17" coords="1422,268,1612,331" shape="rect">
	<area href="/?area=L18" coords="1786,389,1873,500" shape="rect">
	<area href="/?area=L19" coords="1075,85,1189,156" shape="rect">
	<area href="/?area=L20" coords="67,344,206,393" shape="rect">
	<area href="/?area=L21" coords="244,375,298,540" shape="rect">
	<area href="/?area=L22" coords="464,75,540,159" shape="rect">
	<area href="/?area=L23" coords="27,83,62,257" shape="rect">
	<area href="/?area=L24" coords="1498,474,1607,531" shape="rect">
	<area href="/?area=L25" coords="1683,253,1762,318" shape="rect">
	<area href="/?area=L26" coords="1506,612,1563,710" shape="rect">
	<area href="/?area=L27" coords="820,129,860,235" shape="rect">
	<area href="/?area=L28" coords="727,148,768,248" shape="rect">
	<area href="/?area=L29" coords="1018,327,1080,379" shape="rect">
	<area href="/?area=L30" coords="1216,328,1273,382" shape="rect">
	<area href="/?area=L31" coords="673,524,779,565" shape="rect">
	<area href="/?area=L32" coords="836,586,882,646" shape="rect">
	<area href="/?area=L33" coords="912,82,942,109" shape="rect">
	<area href="/?area=L34" coords="426,542,464,569" shape="rect">
	<area href="/?area=L35" coords="534,740,594,767" shape="rect">
{{else if eq .Floor "2"}}
	<area href="/?area=U1" coords="1389,58,1455,109" shape="rect">
	<area href="/?area=U2" coords="1105,146,2397,212" shape="rect">
	<area href="/?area=U3" coords="2209,61,2278,95" shape="rect">
	<area href="/?area=U4" coords="2432,146,2477,236" shape="rect">
	<area href="/?area=U5" coords="2466,66,2585,124" shape="rect">
	<area href="/?area=U6" coords="2612,111,2654,265" shape="rect">
	<area href="/?area=U7" coords="2707,42,2922,111" shape="rect">
	<area href="/?area=U8" coords="2702,164,2927,193" shape="rect">
	<area href="/?area=U9" coords="2760,225,2956,260" shape="rect">
	<area href="/?area=U10" coords="2726,387,2922,437" shape="rect">
	<area href="/?area=U11" coords="2254,252,2289,273" shape="rect">
	<area href="/?area=U12" coords="1849,241,1910,302" shape="rect">
	<area href="/?area=U13" coords="2829,474,2932,527" shape="rect">
	<area href="/?area=U14" coords="2464,350,2514,381" shape="rect">
	<area href="/?area=U15" coords="2088,355,2135,411" shape="rect">
	<area href="/?area=U16" coords="1637,355,1696,418" shape="rect">
	<area href="/?area=U17" coords="1021,74,1068,320" shape="rect">
	<area href="/?area=U18" coords="" shape="rect">
	<area href="/?area=U19" coords="1145,342,1269,408" shape="rect">
	<area href="/?area=U20" coords="1304,376,1407,503" shape="rect">
	<area href="/?area=U21" coords="1439,429,2636,498" shape="rect">
	<area href="/?area=U22" coords="1939,543,2575,609" shape="rect">
	<area href="/?area=U23" coords="1563,612,1656,689" shape="rect">
	<area href="/?area=U24" coords="1481,604,1460,792,1608,834,1637,739,1542,731" shape="poly">
	<area href="/?area=U25" coords="1389,580,1444,903" shape="rect">
	<area href="/?area=U26" coords="1685,874,1860,1107" shape="rect">
	<area href="/?area=U27" coords="1071,885,1240,1104" shape="rect">
	<area href="/?area=U28" coords="939,853,1010,943" shape="rect">
	<area href="/?area=U29" coords="729,879,923,953" shape="rect">
	<area href="/?area=U30" coords="539,855,698,922" shape="rect">
	<area href="/?area=U31" coords="801,1038,1010,1128" shape="rect">
	<area href="/?area=U32" coords="719,1028,751,1134" shape="rect">
	<area href="/?area=U33" coords="327,863,515,959" shape="rect">
	<area href="/?area=U34" coords="314,1033,581,1110" shape="rect">
	<area href="/?area=U35" coords="197,853,287,938" shape="rect">
	<area href="/?area=U36" coords="57,866,152,914" shape="rect">
	<area href="/?area=U37" coords="70,953,184,1022" shape="rect">
	<area href="/?area=U38" coords="60,1051,165,1165" shape="rect">
	<area href="/?area=U39" coords="208,1059,285,1139" shape="rect">
	<area href="/?area=U40" coords="327,1152,568,1213" shape="rect">
	<area href="/?area=U41" coords="335,1258,568,1393" shape="rect">
	<area href="/?area=U42" coords="303,1435,565,1488" shape="rect">
	<area href="/?area=U43" coords="1460,1157,1630,1584" shape="rect">
	<area href="/?area=U44" coords="1309,1563,1405,1663" shape="rect">
	<area href="/?area=U45" coords="1325,1708,1378,1910" shape="rect">
	<area href="/?area=U46" coords="1415,1711,1502,1920" shape="rect">
	<area href="/?area=U47" coords="1555,1616,1624,1671" shape="rect">
	<area href="/?area=U48" coords="1532,1706,1608,1782" shape="rect">
	<area href="/?area=U49" coords="1540,1838,1598,1931" shape="rect">
	<area href="/?area=U50" coords="1701,1446,1741,1488" shape="rect">
	<area href="/?area=U51" coords="1656,1719,1701,1780" shape="rect">
	<area href="/?area=U52" coords="1720,1886,1775,1925" shape="rect">
	<area href="/?area=U53" coords="1743,1507,1812,1621" shape="rect">
	<area href="/?area=U54" coords="1839,1462,1939,1637" shape="rect">
	<area href="/?area=U55" coords="1833,1703,1905,1756" shape="rect">
	<area href="/?area=U56" coords="1749,1767,2395,1849" shape="rect">
	<area href="/?area=U57" coords="1976,1483,2043,1576" shape="rect">
	<area href="/?area=U58" coords="2051,1592,2093,1645" shape="rect">
	<area href="/?area=U59" coords="1947,1375,2561,1438" shape="rect">
	<area href="/?area=U60" coords="2074,1483,2681,1560" shape="rect">
	<area href="/?area=U61" coords="2238,1872,2387,1928" shape="rect">
	<area href="/?area=U62" coords="2424,1594,2501,1639" shape="rect">
	<area href="/?area=U63" coords="2432,1735,2474,1888" shape="rect">
	<area href="/?area=U64" coords="2501,1883,2596,1925" shape="rect">
	<area href="/?area=U65" coords="2612,1692,2633,1862" shape="rect">
	<area href="/?area=U66" coords="2644,1589,2704,1642" shape="rect">
	<area href="/?area=U67" coords="2678,1700,2699,1767" shape="rect">
	<area href="/?area=U68" coords="2694,1907,2744,1955" shape="rect">
	<area href="/?area=U69" coords="2839,1891,2908,1955" shape="rect">
	<area href="/?area=U70" coords="2712,1708,2869,1862" shape="rect">
	<area href="/?area=U71" coords="2712,1496,2879,1653" shape="rect">
	<area href="/?area=U72" coords="2900,1594,2948,1838" shape="rect">
	<area href="/?area=U73" coords="2906,1473,2951,1563" shape="rect">
{{end}}
</map>
